<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <header>
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- CAMBIA FOTO  -->
                    <img class="menu" src="foticos/logo.png">

                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Inicio</a></li>
                  <li><a class="dropdown-item" href="#">Favoritos</a></li>
                  <li><a class="dropdown-item" href="#">Notificaciones</a></li>
                  <li><a class="dropdown-item" href="#">Chat </a></li>
                  <li><a class="dropdown-item" href="#">Restaurantes</a></li>
                  <li><a class="dropdown-item" href="#">Restricciones</a></li>
                  <li><a class="dropdown-item" href="#">Promociones</a></li>
                </ul>
              </li>
              <!-- CAMBIA FOTO  -->
          <a class="boton landing" href="#"><img class="logo" src="foticos/logo.png"></a>     
          
          <a class="lupa" href="#"><img class="logo" src="foticos/logo.png"></a>
          <a class="usuario" href="#"><img class="logo" src="foticos/logo.png"></a>
              
          </div>
        </div>
      </nav>
  </header>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
