<section>
    <div>
        <a href='Url.Action("")'></a>
        <img src="" alt="">
        <h3>Limonchetti</h3>
    </div>

    <div>

    </div>

    <form action="" method="post">
        <textarea name="descripcion" id="textArea" cols="150" rows="2"></textarea>
    </form>
</section>