@{
    Layout = "_Layout";
}

<img src="" alt="">

<div class="formulario">
    <form action='@Url.Action("LoginGuardar", "Account")' method="post">
        <h6 class="textoInicioSesionRegistro">Mail</h6>
        <input type="email" name="email" placeholder="Correo Electronico">
        <h6 class="textoInicioSesionRegistro">Contraseña</h6>
        <input type="password" name="contrasena" placeholder="Contraseña">
        <a href='@Url.Action("CambiarContrasena", "Account")'>¿Olvidaste tu contraseña?</a>
        <h6>@ViewBag.MensajeError </h6>
        <input type="submit" value="Iniciar Sesion">
    </form>
</div>

<h6>¿No tienes cuenta?</h6>
<a href='@Url.Action("Registro","Account")'><button>Registrarse</button></a>