<img src="" alt="">


<div class="formulario">
    <form action='@Url.Action("LoginGuardar", "Account")' method="post">
        <h6 class="textoInicioSesionRegistro">Nombre</h6>
        <input type="text" name="nombre" placeholder="Nombre">
        <h6 class="textoInicioSesionRegistro">Apellido</h6>        
        <input type="text" name="apellido" placeholder="Apellido">
        <h6 class="textoInicioSesionRegistro">Direcci칩n</h6>        
        <input type="text" name="direccion" placeholder="Direccion">
        <h6 class="textoInicioSesionRegistro">Correo Electronico</h6>        
        <input type="email" name="email" placeholder="Correo Electronico">
        <h6 class="textoInicioSesionRegistro">Contrase침a</h6>        
        <input type="password" name="contrase침a" placeholder="Contrase침a">
        <h6 class="textoInicioSesionRegistro">Numero de telefono</h6>        
        <input type="tel" name="telefono">
        


        <input type="submit" value="Registrarse">
    </form>
</div>



