USE [Sanni]
GO
/****** Object:  User [alumno]    Script Date: 1/12/2025 13:56:04 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Bebidas]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bebidas](
	[idBebida] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idCategoria] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[disponible] [bit] NOT NULL,
	[idRestaurante] [int] NOT NULL,
	[foto] [varchar](100) NULL,
 CONSTRAINT [PK_Bebidas] PRIMARY KEY CLUSTERED 
(
	[idBebida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[foto] [varchar](50) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[idDetallePedido] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[subtotal] [float] NOT NULL,
	[idPedido] [int] NOT NULL,
	[idPlato] [int] NOT NULL,
 CONSTRAINT [PK_DetallePedido] PRIMARY KEY CLUSTERED 
(
	[idDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[idFavorito] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idPlato] [int] NULL,
	[idRestaurante] [int] NULL,
	[idBebida] [int] NULL,
 CONSTRAINT [PK_Favoritos] PRIMARY KEY CLUSTERED 
(
	[idFavorito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificacionesUsuario]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificacionesUsuario](
	[idNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[mensaje] [varchar](200) NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_NotificacionesUsuario] PRIMARY KEY CLUSTERED 
(
	[idNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[total] [float] NOT NULL,
	[metodoPago] [varchar](50) NOT NULL,
	[direccionEntrega] [varchar](50) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idRestaurante] [int] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platos]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platos](
	[idPlato] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[calorias] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[disponible] [bit] NOT NULL,
	[idRestaurante] [int] NOT NULL,
	[dto] [int] NOT NULL,
	[codigoDescuento] [varchar](500) NULL,
	[foto] [varchar](1000) NULL,
 CONSTRAINT [PK_Platos] PRIMARY KEY CLUSTERED 
(
	[idPlato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromocionCombo]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromocionCombo](
	[idPromocionCombo] [int] IDENTITY(1,1) NOT NULL,
	[idPromocion] [int] NOT NULL,
	[idPlato] [int] NULL,
	[idBebida] [int] NULL,
 CONSTRAINT [PK_PromocionCombo] PRIMARY KEY CLUSTERED 
(
	[idPromocionCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promociones]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promociones](
	[idPromocion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descuento] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[idRestaurante] [int] NOT NULL,
	[foto] [varchar](100) NULL,
 CONSTRAINT [PK_Promociones] PRIMARY KEY CLUSTERED 
(
	[idPromocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurantes]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurantes](
	[idRestaurante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[tipoComida] [varchar](50) NOT NULL,
	[horaPedido] [time](7) NOT NULL,
	[telefono] [int] NOT NULL,
	[promedioRating] [float] NOT NULL,
	[latitud] [float] NULL,
	[longitud] [float] NULL,
	[idCategoria] [int] NULL,
	[foto] [varchar](100) NULL,
 CONSTRAINT [PK_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[idRestaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bebidas] ON 

INSERT [dbo].[Bebidas] ([idBebida], [nombre], [idCategoria], [descripcion], [disponible], [idRestaurante], [foto]) VALUES (1, N'Smoothie Verde', 4, N'Espinaca, manzana verde, jengibre y limón', 1, 3, NULL)
INSERT [dbo].[Bebidas] ([idBebida], [nombre], [idCategoria], [descripcion], [disponible], [idRestaurante], [foto]) VALUES (2, N'Jugo Detox', 5, N'Apio, pepino, manzana y menta', 1, 1, NULL)
INSERT [dbo].[Bebidas] ([idBebida], [nombre], [idCategoria], [descripcion], [disponible], [idRestaurante], [foto]) VALUES (3, N'Smoothie Frutal', 4, N'Banana, frutilla, avena y leche de almendra', 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[Bebidas] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([idCategoria], [nombre], [foto]) VALUES (1, N'kosher', NULL)
INSERT [dbo].[Categorias] ([idCategoria], [nombre], [foto]) VALUES (2, N'vegano', NULL)
INSERT [dbo].[Categorias] ([idCategoria], [nombre], [foto]) VALUES (3, N'vegetariano', NULL)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallePedido] ON 

INSERT [dbo].[DetallePedido] ([idDetallePedido], [cantidad], [subtotal], [idPedido], [idPlato]) VALUES (1, 1, 3500, 1, 1)
INSERT [dbo].[DetallePedido] ([idDetallePedido], [cantidad], [subtotal], [idPedido], [idPlato]) VALUES (2, 1, 3800, 1, 2)
INSERT [dbo].[DetallePedido] ([idDetallePedido], [cantidad], [subtotal], [idPedido], [idPlato]) VALUES (3, 1, 4000, 2, 4)
SET IDENTITY_INSERT [dbo].[DetallePedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Favoritos] ON 

INSERT [dbo].[Favoritos] ([idFavorito], [idUsuario], [idPlato], [idRestaurante], [idBebida]) VALUES (1, 1, 1, NULL, NULL)
INSERT [dbo].[Favoritos] ([idFavorito], [idUsuario], [idPlato], [idRestaurante], [idBebida]) VALUES (2, 1, NULL, 3, NULL)
INSERT [dbo].[Favoritos] ([idFavorito], [idUsuario], [idPlato], [idRestaurante], [idBebida]) VALUES (3, 2, 4, 2, NULL)
SET IDENTITY_INSERT [dbo].[Favoritos] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificacionesUsuario] ON 

INSERT [dbo].[NotificacionesUsuario] ([idNotificacion], [fecha], [categoria], [mensaje], [idUsuario]) VALUES (1, CAST(N'2025-11-28' AS Date), N'Pedido Listo', N'Tu pedido #1 de GreenSoul está listo para ser entregado.', 1)
INSERT [dbo].[NotificacionesUsuario] ([idNotificacion], [fecha], [categoria], [mensaje], [idUsuario]) VALUES (2, CAST(N'2025-11-27' AS Date), N'Promoción', N'¡No te pierdas el 2x1 en Bowls de VitalEat!', 3)
INSERT [dbo].[NotificacionesUsuario] ([idNotificacion], [fecha], [categoria], [mensaje], [idUsuario]) VALUES (3, CAST(N'2025-11-21' AS Date), N'Bienvenida', N'¡Hola Sofía! Gracias por unirte a Sanni, tienes un descuento especial.', 2)
SET IDENTITY_INSERT [dbo].[NotificacionesUsuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([idPedido], [fecha], [total], [metodoPago], [direccionEntrega], [idUsuario], [idRestaurante]) VALUES (1, CAST(N'2025-11-28T13:55:24.397' AS DateTime), 7300, N'Tarjeta', N'CABA, Argentina', 1, 1)
INSERT [dbo].[Pedidos] ([idPedido], [fecha], [total], [metodoPago], [direccionEntrega], [idUsuario], [idRestaurante]) VALUES (2, CAST(N'2025-11-26T13:55:24.397' AS DateTime), 5200, N'Efectivo', N'Palermo, Buenos Aires', 2, 2)
INSERT [dbo].[Pedidos] ([idPedido], [fecha], [total], [metodoPago], [direccionEntrega], [idUsuario], [idRestaurante]) VALUES (3, CAST(N'2025-11-23T13:55:24.397' AS DateTime), 8400, N'MercadoPago', N'Belgrano, Buenos Aires', 3, 3)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Platos] ON 

INSERT [dbo].[Platos] ([idPlato], [nombre], [descripcion], [calorias], [precio], [idCategoria], [disponible], [idRestaurante], [dto], [codigoDescuento], [foto]) VALUES (1, N'Ensalada Detox', N'Mix verde con palta, pepino y semillas', 320, 3500, 1, 1, 1, 0, NULL, N'Ensalada Detox.jpg')
INSERT [dbo].[Platos] ([idPlato], [nombre], [descripcion], [calorias], [precio], [idCategoria], [disponible], [idRestaurante], [dto], [codigoDescuento], [foto]) VALUES (2, N'Wrap Vegano', N'Tortilla integral con hummus y vegetales grillados', 450, 3800, 1, 1, 2, 0, NULL, N'Wrap Vegano.jpeg')
INSERT [dbo].[Platos] ([idPlato], [nombre], [descripcion], [calorias], [precio], [idCategoria], [disponible], [idRestaurante], [dto], [codigoDescuento], [foto]) VALUES (3, N'Bowl Energético', N'Quinoa, tofu, brócoli, zanahoria y palta', 510, 4200, 2, 1, 3, 0, NULL, N'Bowl Energético.jpg')
SET IDENTITY_INSERT [dbo].[Platos] OFF
GO
SET IDENTITY_INSERT [dbo].[PromocionCombo] ON 

INSERT [dbo].[PromocionCombo] ([idPromocionCombo], [idPromocion], [idPlato], [idBebida]) VALUES (1, 1, 2, 1)
INSERT [dbo].[PromocionCombo] ([idPromocionCombo], [idPromocion], [idPlato], [idBebida]) VALUES (2, 2, 1, 2)
INSERT [dbo].[PromocionCombo] ([idPromocionCombo], [idPromocion], [idPlato], [idBebida]) VALUES (3, 3, 4, 3)
SET IDENTITY_INSERT [dbo].[PromocionCombo] OFF
GO
SET IDENTITY_INSERT [dbo].[Promociones] ON 

INSERT [dbo].[Promociones] ([idPromocion], [nombre], [descuento], [fechaInicio], [fechaFin], [idRestaurante], [foto]) VALUES (1, N'Combo Saludable', 15, CAST(N'2025-10-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[Promociones] ([idPromocion], [nombre], [descuento], [fechaInicio], [fechaFin], [idRestaurante], [foto]) VALUES (2, N'Día Detox', 10, CAST(N'2025-09-15T00:00:00.000' AS DateTime), CAST(N'2025-11-30T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[Promociones] ([idPromocion], [nombre], [descuento], [fechaInicio], [fechaFin], [idRestaurante], [foto]) VALUES (3, N'Lunch Fit', 12, CAST(N'2025-08-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 2, NULL)
SET IDENTITY_INSERT [dbo].[Promociones] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurantes] ON 

INSERT [dbo].[Restaurantes] ([idRestaurante], [nombre], [direccion], [tipoComida], [horaPedido], [telefono], [promedioRating], [latitud], [longitud], [idCategoria], [foto]) VALUES (1, N'GreenSoul', N'Av. Corrientes 1250, CABA', N'Vegano y Orgánico', CAST(N'10:00:00' AS Time), 1122334455, 4.8, -34.6037, -58.3816, 1, N'greensoul.jpeg')
INSERT [dbo].[Restaurantes] ([idRestaurante], [nombre], [direccion], [tipoComida], [horaPedido], [telefono], [promedioRating], [latitud], [longitud], [idCategoria], [foto]) VALUES (2, N'Sanni Market', N'Armenia 1500, Palermo', N'Comida Natural y Casera', CAST(N'09:00:00' AS Time), 1165437890, 4.6, -34.5824, -58.4266, 2, N'sannimarket.jpg')
INSERT [dbo].[Restaurantes] ([idRestaurante], [nombre], [direccion], [tipoComida], [horaPedido], [telefono], [promedioRating], [latitud], [longitud], [idCategoria], [foto]) VALUES (3, N'VitalEat', N'Juramento 2100, Belgrano', N'Smoothies y Bowls', CAST(N'08:30:00' AS Time), 1145673210, 4.9, -34.5621, -58.455, 3, N'Vitaeat.jpg')
SET IDENTITY_INSERT [dbo].[Restaurantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [nombre], [apellido], [email], [contraseña], [direccion], [telefono], [fechaRegistro]) VALUES (1, N'Chloe', N'Monastirsky', N'chloe@sanni.com', N'clave123', N'CABA, Argentina', 1123456789, CAST(N'2025-11-28T13:55:24.380' AS DateTime))
INSERT [dbo].[Usuarios] ([idUsuario], [nombre], [apellido], [email], [contraseña], [direccion], [telefono], [fechaRegistro]) VALUES (2, N'Sofía', N'Gómez', N'sofia@sanni.com', N'clave456', N'Palermo, Buenos Aires', 1198765432, CAST(N'2025-11-28T13:55:24.380' AS DateTime))
INSERT [dbo].[Usuarios] ([idUsuario], [nombre], [apellido], [email], [contraseña], [direccion], [telefono], [fechaRegistro]) VALUES (3, N'Mateo', N'López', N'mateo@sanni.com', N'clave789', N'Belgrano, Buenos Aires', 1161122334, CAST(N'2025-11-28T13:55:24.380' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Bebidas]  WITH CHECK ADD  CONSTRAINT [FK_Bebidas_Categorias] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[Bebidas] CHECK CONSTRAINT [FK_Bebidas_Categorias]
GO
ALTER TABLE [dbo].[Bebidas]  WITH CHECK ADD  CONSTRAINT [FK_Bebidas_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Bebidas] CHECK CONSTRAINT [FK_Bebidas_Restaurantes]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Pedidos] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedidos] ([idPedido])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Pedidos]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Platos] FOREIGN KEY([idPlato])
REFERENCES [dbo].[Platos] ([idPlato])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Platos]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Bebidas] FOREIGN KEY([idBebida])
REFERENCES [dbo].[Bebidas] ([idBebida])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Bebidas]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Platos] FOREIGN KEY([idPlato])
REFERENCES [dbo].[Platos] ([idPlato])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Platos]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Restaurantes]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Usuarios]
GO
ALTER TABLE [dbo].[NotificacionesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_NotificacionesUsuario_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[NotificacionesUsuario] CHECK CONSTRAINT [FK_NotificacionesUsuario_Usuarios]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Restaurantes]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Usuarios]
GO
ALTER TABLE [dbo].[PromocionCombo]  WITH CHECK ADD  CONSTRAINT [FK_PromocionCombo_Bebidas] FOREIGN KEY([idBebida])
REFERENCES [dbo].[Bebidas] ([idBebida])
GO
ALTER TABLE [dbo].[PromocionCombo] CHECK CONSTRAINT [FK_PromocionCombo_Bebidas]
GO
ALTER TABLE [dbo].[PromocionCombo]  WITH CHECK ADD  CONSTRAINT [FK_PromocionCombo_Platos] FOREIGN KEY([idPlato])
REFERENCES [dbo].[Platos] ([idPlato])
GO
ALTER TABLE [dbo].[PromocionCombo] CHECK CONSTRAINT [FK_PromocionCombo_Platos]
GO
ALTER TABLE [dbo].[PromocionCombo]  WITH CHECK ADD  CONSTRAINT [FK_PromocionCombo_Promociones] FOREIGN KEY([idPromocion])
REFERENCES [dbo].[Promociones] ([idPromocion])
GO
ALTER TABLE [dbo].[PromocionCombo] CHECK CONSTRAINT [FK_PromocionCombo_Promociones]
GO
ALTER TABLE [dbo].[Promociones]  WITH CHECK ADD  CONSTRAINT [FK_Promociones_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Promociones] CHECK CONSTRAINT [FK_Promociones_Restaurantes]
GO
ALTER TABLE [dbo].[Restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_Restaurantes_Categorias] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[Restaurantes] CHECK CONSTRAINT [FK_Restaurantes_Categorias]
GO
/****** Object:  StoredProcedure [dbo].[AgregarFavoritos]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AgregarFavoritos]
	
	@pidUsuario int,
	@pidPlato int=null,
	@pidBebida int=null,
	@pidRestaurante int=null

AS
BEGIN
	insert into Favoritos (idPlato, idBebida, idRestaurante) values (@pidPlato, @pidBebida, @pidRestaurante);
	END
GO
/****** Object:  StoredProcedure [dbo].[buscarRestriccion]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create   procedure [dbo].[buscarRestriccion]
	@nombreRestriccion varchar(50)
AS
BEGIN
	if not exists (select Categorias.nombre from Categorias where Categorias.nombre=@nombreRestriccion)
	begin
	PRINT  'la restriccion buscada no existe';         
	RETURN;     
	end
	else
	begin
	declare @idCategoria int;
	select @idCategoria=Categorias.idCategoria from Categorias
	where Categorias.nombre=@nombreRestriccion;
	select * from Restaurantes
	where Restaurantes.idCategoria=@idCategoria;
	end
	END
GO
/****** Object:  StoredProcedure [dbo].[BusquedaRestricciones]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[BusquedaRestricciones]
	@pbusqueda varchar(50)
AS
BEGIN
	-- Verificar si la restricción existe
	if not exists (select * from Categorias where nombre = @pbusqueda)
	begin
		PRINT 'la restriccion buscada no existe';
		-- Si no existe, no se devuelve nada, lo que resulta en 'null' en C#
		RETURN;
	end
	else
	begin
		-- Si existe, devolver el registro completo de la Categoría
		SELECT * FROM Categorias
		WHERE nombre = @pbusqueda;
	end
END
GO
/****** Object:  StoredProcedure [dbo].[editarPerfil]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[editarPerfil]
	
	@idUsuario int,
	@nombre varchar(50),
	@apellido varchar(50),
	@direccion varchar(50),
	@email varchar(50),
	@contraseña varchar(50),
	@telefono int

AS
BEGIN
	UPDATE Usuarios
	SET nombre = @nombre,
    direccion = @direccion,
	apellido = @apellido,
	email = @email,
	contraseña = @contraseña,
	telefono = @telefono
	WHERE Usuarios.idUsuario=@idUsuario;
	END
GO
/****** Object:  StoredProcedure [dbo].[GetBebidaBusqueda]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetBebidaBusqueda]
	
	@pidBebida int
AS
BEGIN
	SELECT * FROM Bebidas WHERE idBebida = @pidBebida
	END
GO
/****** Object:  StoredProcedure [dbo].[GetBebidasRestaurante]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetBebidasRestaurante]
	
	@pidRestaurante int
AS
BEGIN
	SELECT * FROM Bebidas WHERE idRestaurante = @pidRestaurante
	END
GO
/****** Object:  StoredProcedure [dbo].[GetBebidasRestriccion]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetBebidasRestriccion]
	
	@pidCategoria int
AS
BEGIN
	SELECT * FROM Bebidas WHERE Bebidas.idCategoria = @pidCategoria
	END
GO
/****** Object:  StoredProcedure [dbo].[GetCategorias]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetCategorias]
	
AS
BEGIN
	SELECT * FROM Categorias
	END
GO
/****** Object:  StoredProcedure [dbo].[GetFavoritos]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetFavoritos]
	
	@pidUsuario int
AS
BEGIN
	SELECT Platos.nombre as NombrePlato, Restaurantes.nombre as NombreRestaurante, Bebidas.nombre as NombreBebida from Favoritos
	inner join Platos on Platos.idPlato=Favoritos.idPlato
	inner join Restaurantes on Restaurantes.idRestaurante=Favoritos.idRestaurante
	inner join Bebidas on Bebidas.idBebida=Favoritos.idBebida
	END
GO
/****** Object:  StoredProcedure [dbo].[GetNotificacionesUsuario]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetNotificacionesUsuario]
	
	@pidUsuario int
AS
BEGIN
	SELECT * FROM NotificacionesUsuario WHERE NotificacionesUsuario.idUsuario = @pidUsuario
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPlatoBusqueda]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPlatoBusqueda]
	
	@pidPlato int
AS
BEGIN
	SELECT * FROM Platos WHERE idPlato = @pidPlato
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPlatos]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPlatos]
	
	@pidPlato int
AS
BEGIN
	SELECT * FROM Platos WHERE idPlato = @pidPlato
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPlatosRestaurante]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPlatosRestaurante]
	
	@pidRestaurante int
AS
BEGIN
	SELECT * FROM Platos WHERE idRestaurante = @pidRestaurante
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPlatosRestriccion]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPlatosRestriccion]
	
	@pidCategoria int
AS
BEGIN
	SELECT * FROM Platos WHERE Platos.idCategoria = @pidCategoria
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPromosRestaurante]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPromosRestaurante]
	
	@pidRestaurante int
AS
BEGIN
	SELECT * FROM Promociones WHERE idRestaurante = @pidRestaurante
	END
GO
/****** Object:  StoredProcedure [dbo].[GetRestauranteBusqueda]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[GetRestauranteBusqueda]
	
	@pidRestaurante int
AS
BEGIN
	SELECT * FROM Restaurantes WHERE idRestaurante = @pidRestaurante
	END
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantes]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[GetRestaurantes]
	
AS
BEGIN
	SELECT * FROM Restaurantes
	END
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantesRestriccion]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetRestaurantesRestriccion]
	
	@pidCategoria int
AS
BEGIN
	SELECT * FROM Restaurantes WHERE Restaurantes.idCategoria = @pidCategoria
	END
GO
/****** Object:  StoredProcedure [dbo].[GetRestriccionBusqueda]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[GetRestriccionBusqueda]
	
	@pidCategoria int
AS
BEGIN
	SELECT * FROM Categorias WHERE idCategoria = @pidCategoria
	END
GO
/****** Object:  StoredProcedure [dbo].[GetUsuario]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[GetUsuario]
	
	@idUsuario int
AS
BEGIN
	select * from Usuarios where idUsuario=@idUsuario
	END
GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[LoginUsuario]
	@pemail varchar(50), @pcontraseña varchar(50)
AS
BEGIN
	Select idUsuario FROM Usuarios WHERE email = @pemail AND contraseña= @pcontraseña
END
GO
/****** Object:  StoredProcedure [dbo].[Registro]    Script Date: 1/12/2025 13:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Registro]
	
	@pemail varchar(50), @pcontraseña varchar(50), @pnombre varchar(50), @papellido varchar(50), @pdireccion varchar(50), @ptelefono varchar(50)
AS
BEGIN
	insert into Usuarios (nombre, apellido, email, contraseña, direccion, telefono) Values (@pnombre, @papellido, @pemail, @pcontraseña, @pdireccion, @ptelefono)
	END
GO
