USE [Sanni]
GO
/****** Object:  User [alumno]    Script Date: 30/10/2025 10:29:52 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Bebidas]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bebidas](
	[idBebida] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idCategoria] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[disponible] [bit] NOT NULL,
	[idRestaurante] [int] NOT NULL,
 CONSTRAINT [PK_Bebidas] PRIMARY KEY CLUSTERED 
(
	[idBebida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[idDetallePedido] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[subtotal] [float] NOT NULL,
	[idPedido] [int] NOT NULL,
	[idPlato] [int] NOT NULL,
 CONSTRAINT [PK_DetallePedido] PRIMARY KEY CLUSTERED 
(
	[idDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[idFavorito] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idPlato] [int] NULL,
	[idRestaurante] [int] NULL,
	[idBebida] [int] NULL,
 CONSTRAINT [PK_Favoritos] PRIMARY KEY CLUSTERED 
(
	[idFavorito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[total] [float] NOT NULL,
	[metodoPago] [varchar](50) NOT NULL,
	[direccionEntrega] [varchar](50) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idRestaurante] [int] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platos]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platos](
	[idPlato] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[calorias] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[disponible] [bit] NOT NULL,
	[idRestaurante] [int] NOT NULL,
 CONSTRAINT [PK_Platos] PRIMARY KEY CLUSTERED 
(
	[idPlato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromocionCombo]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromocionCombo](
	[idPromocionCombo] [int] IDENTITY(1,1) NOT NULL,
	[idPromocion] [int] NOT NULL,
	[idPlato] [int] NULL,
	[idBebida] [int] NULL,
 CONSTRAINT [PK_PromocionCombo] PRIMARY KEY CLUSTERED 
(
	[idPromocionCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promociones]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promociones](
	[idPromocion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descuento] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[idRestaurante] [int] NOT NULL,
 CONSTRAINT [PK_Promociones] PRIMARY KEY CLUSTERED 
(
	[idPromocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurantes]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurantes](
	[idRestaurante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[tipoComida] [varchar](50) NOT NULL,
	[horaPedido] [time](7) NOT NULL,
	[telefono] [int] NOT NULL,
	[promedioRating] [float] NOT NULL,
 CONSTRAINT [PK_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[idRestaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/10/2025 10:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bebidas] ON 

INSERT [dbo].[Bebidas] ([idBebida], [nombre], [idCategoria], [descripcion], [disponible], [idRestaurante]) VALUES (1, N'Smoothie Verde', 4, N'Espinaca, manzana verde, jengibre y limón', 1, 3)
INSERT [dbo].[Bebidas] ([idBebida], [nombre], [idCategoria], [descripcion], [disponible], [idRestaurante]) VALUES (2, N'Jugo Detox', 5, N'Apio, pepino, manzana y menta', 1, 1)
INSERT [dbo].[Bebidas] ([idBebida], [nombre], [idCategoria], [descripcion], [disponible], [idRestaurante]) VALUES (3, N'Smoothie Frutal', 4, N'Banana, frutilla, avena y leche de almendra', 1, 2)
SET IDENTITY_INSERT [dbo].[Bebidas] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([idCategoria], [nombre]) VALUES (1, N'Ensaladas')
INSERT [dbo].[Categorias] ([idCategoria], [nombre]) VALUES (2, N'Wraps')
INSERT [dbo].[Categorias] ([idCategoria], [nombre]) VALUES (3, N'Bowls')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallePedido] ON 

INSERT [dbo].[DetallePedido] ([idDetallePedido], [cantidad], [subtotal], [idPedido], [idPlato]) VALUES (1, 1, 3500, 1, 1)
INSERT [dbo].[DetallePedido] ([idDetallePedido], [cantidad], [subtotal], [idPedido], [idPlato]) VALUES (2, 1, 4200, 2, 4)
INSERT [dbo].[DetallePedido] ([idDetallePedido], [cantidad], [subtotal], [idPedido], [idPlato]) VALUES (3, 1, 4100, 3, 3)
SET IDENTITY_INSERT [dbo].[DetallePedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Favoritos] ON 

INSERT [dbo].[Favoritos] ([idFavorito], [idUsuario], [idPlato], [idRestaurante], [idBebida]) VALUES (1, 1, 1, 1, 2)
INSERT [dbo].[Favoritos] ([idFavorito], [idUsuario], [idPlato], [idRestaurante], [idBebida]) VALUES (2, 1, NULL, 3, 1)
INSERT [dbo].[Favoritos] ([idFavorito], [idUsuario], [idPlato], [idRestaurante], [idBebida]) VALUES (3, 2, 4, 2, NULL)
SET IDENTITY_INSERT [dbo].[Favoritos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([idPedido], [fecha], [total], [metodoPago], [direccionEntrega], [idUsuario], [idRestaurante]) VALUES (1, CAST(N'2025-10-05T13:20:00.000' AS DateTime), 7700, N'Tarjeta', N'CABA, Argentina', 1, 1)
INSERT [dbo].[Pedidos] ([idPedido], [fecha], [total], [metodoPago], [direccionEntrega], [idUsuario], [idRestaurante]) VALUES (2, CAST(N'2025-10-10T12:00:00.000' AS DateTime), 5200, N'Efectivo', N'Palermo, Buenos Aires', 2, 2)
INSERT [dbo].[Pedidos] ([idPedido], [fecha], [total], [metodoPago], [direccionEntrega], [idUsuario], [idRestaurante]) VALUES (3, CAST(N'2025-11-02T19:45:00.000' AS DateTime), 4100, N'MercadoPago', N'Belgrano, Buenos Aires', 3, 3)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Platos] ON 

INSERT [dbo].[Platos] ([idPlato], [nombre], [descripcion], [calorias], [precio], [idCategoria], [disponible], [idRestaurante]) VALUES (1, N'Ensalada Detox', N'Mix verde con palta, pepino y semillas', 320, 3500, 1, 1, 1)
INSERT [dbo].[Platos] ([idPlato], [nombre], [descripcion], [calorias], [precio], [idCategoria], [disponible], [idRestaurante]) VALUES (2, N'Wrap Vegano', N'Tortilla integral con hummus y vegetales grillados', 450, 3800, 2, 1, 1)
INSERT [dbo].[Platos] ([idPlato], [nombre], [descripcion], [calorias], [precio], [idCategoria], [disponible], [idRestaurante]) VALUES (3, N'Bowl Energético', N'Quinoa, tofu, brócoli, zanahoria, palta y semillas', 510, 4200, 3, 1, 3)
SET IDENTITY_INSERT [dbo].[Platos] OFF
GO
SET IDENTITY_INSERT [dbo].[PromocionCombo] ON 

INSERT [dbo].[PromocionCombo] ([idPromocionCombo], [idPromocion], [idPlato], [idBebida]) VALUES (1, 1, 2, 1)
INSERT [dbo].[PromocionCombo] ([idPromocionCombo], [idPromocion], [idPlato], [idBebida]) VALUES (2, 2, 1, 2)
INSERT [dbo].[PromocionCombo] ([idPromocionCombo], [idPromocion], [idPlato], [idBebida]) VALUES (3, 3, 4, NULL)
SET IDENTITY_INSERT [dbo].[PromocionCombo] OFF
GO
SET IDENTITY_INSERT [dbo].[Promociones] ON 

INSERT [dbo].[Promociones] ([idPromocion], [nombre], [descuento], [fechaInicio], [fechaFin], [idRestaurante]) VALUES (1, N'Combo Saludable', 15, CAST(N'2025-10-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Promociones] ([idPromocion], [nombre], [descuento], [fechaInicio], [fechaFin], [idRestaurante]) VALUES (2, N'Día Detox', 10, CAST(N'2025-09-15T00:00:00.000' AS DateTime), CAST(N'2025-11-30T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Promociones] ([idPromocion], [nombre], [descuento], [fechaInicio], [fechaFin], [idRestaurante]) VALUES (3, N'Lunch Fit', 12, CAST(N'2025-08-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Promociones] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurantes] ON 

INSERT [dbo].[Restaurantes] ([idRestaurante], [nombre], [direccion], [tipoComida], [horaPedido], [telefono], [promedioRating]) VALUES (1, N'GreenSoul', N'Av. Corrientes 1250, CABA', N'Vegano y Orgánico', CAST(N'10:00:00' AS Time), 1122334455, 4.8)
INSERT [dbo].[Restaurantes] ([idRestaurante], [nombre], [direccion], [tipoComida], [horaPedido], [telefono], [promedioRating]) VALUES (2, N'Sanni Market', N'Armenia 1500, Palermo', N'Comida Natural y Casera', CAST(N'09:00:00' AS Time), 1165437890, 4.6)
INSERT [dbo].[Restaurantes] ([idRestaurante], [nombre], [direccion], [tipoComida], [horaPedido], [telefono], [promedioRating]) VALUES (3, N'VitalEat', N'Juramento 2100, Belgrano', N'Smoothies y Bowls', CAST(N'08:30:00' AS Time), 1145673210, 4.9)
SET IDENTITY_INSERT [dbo].[Restaurantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [nombre], [apellido], [email], [contraseña], [direccion], [telefono], [fechaRegistro]) VALUES (1, N'Chloe', N'Monastirsky', N'chloe@sanni.com', N'clave123', N'CABA, Argentina', 1123456789, CAST(N'2025-10-24T14:20:50.290' AS DateTime))
INSERT [dbo].[Usuarios] ([idUsuario], [nombre], [apellido], [email], [contraseña], [direccion], [telefono], [fechaRegistro]) VALUES (2, N'Sofía', N'Gómez', N'sofia@sanni.com', N'clave456', N'Palermo, Buenos Aires', 1198765432, CAST(N'2025-10-24T14:20:50.290' AS DateTime))
INSERT [dbo].[Usuarios] ([idUsuario], [nombre], [apellido], [email], [contraseña], [direccion], [telefono], [fechaRegistro]) VALUES (3, N'Mateo', N'López', N'mateo@sanni.com', N'clave789', N'Belgrano, Buenos Aires', 1161122334, CAST(N'2025-10-24T14:20:50.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Bebidas]  WITH CHECK ADD  CONSTRAINT [FK_Bebidas_Categorias] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[Bebidas] CHECK CONSTRAINT [FK_Bebidas_Categorias]
GO
ALTER TABLE [dbo].[Bebidas]  WITH CHECK ADD  CONSTRAINT [FK_Bebidas_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Bebidas] CHECK CONSTRAINT [FK_Bebidas_Restaurantes]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Pedidos] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedidos] ([idPedido])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Pedidos]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Platos] FOREIGN KEY([idPlato])
REFERENCES [dbo].[Platos] ([idPlato])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Platos]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Bebidas] FOREIGN KEY([idBebida])
REFERENCES [dbo].[Bebidas] ([idBebida])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Bebidas]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Platos] FOREIGN KEY([idPlato])
REFERENCES [dbo].[Platos] ([idPlato])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Platos]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Restaurantes]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Usuarios]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Restaurantes]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Usuarios]
GO
ALTER TABLE [dbo].[Platos]  WITH CHECK ADD  CONSTRAINT [FK_Platos_Categorias] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[Platos] CHECK CONSTRAINT [FK_Platos_Categorias]
GO
ALTER TABLE [dbo].[Platos]  WITH CHECK ADD  CONSTRAINT [FK_Platos_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Platos] CHECK CONSTRAINT [FK_Platos_Restaurantes]
GO
ALTER TABLE [dbo].[PromocionCombo]  WITH CHECK ADD  CONSTRAINT [FK_PromocionCombo_Bebidas] FOREIGN KEY([idBebida])
REFERENCES [dbo].[Bebidas] ([idBebida])
GO
ALTER TABLE [dbo].[PromocionCombo] CHECK CONSTRAINT [FK_PromocionCombo_Bebidas]
GO
ALTER TABLE [dbo].[PromocionCombo]  WITH CHECK ADD  CONSTRAINT [FK_PromocionCombo_Platos] FOREIGN KEY([idPlato])
REFERENCES [dbo].[Platos] ([idPlato])
GO
ALTER TABLE [dbo].[PromocionCombo] CHECK CONSTRAINT [FK_PromocionCombo_Platos]
GO
ALTER TABLE [dbo].[PromocionCombo]  WITH CHECK ADD  CONSTRAINT [FK_PromocionCombo_Promociones] FOREIGN KEY([idPromocion])
REFERENCES [dbo].[Promociones] ([idPromocion])
GO
ALTER TABLE [dbo].[PromocionCombo] CHECK CONSTRAINT [FK_PromocionCombo_Promociones]
GO
ALTER TABLE [dbo].[Promociones]  WITH CHECK ADD  CONSTRAINT [FK_Promociones_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Promociones] CHECK CONSTRAINT [FK_Promociones_Restaurantes]
GO
