USE [Sanni]
GO
/****** Object:  User [alumno]    Script Date: 27/11/2025 15:05:57 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Bebidas]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bebidas](
	[idBebida] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idCategoria] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[disponible] [bit] NOT NULL,
	[idRestaurante] [int] NOT NULL,
 CONSTRAINT [PK_Bebidas] PRIMARY KEY CLUSTERED 
(
	[idBebida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[idDetallePedido] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[subtotal] [float] NOT NULL,
	[idPedido] [int] NOT NULL,
	[idPlato] [int] NOT NULL,
 CONSTRAINT [PK_DetallePedido] PRIMARY KEY CLUSTERED 
(
	[idDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[idFavorito] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idPlato] [int] NULL,
	[idRestaurante] [int] NULL,
	[idBebida] [int] NULL,
 CONSTRAINT [PK_Favoritos] PRIMARY KEY CLUSTERED 
(
	[idFavorito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificacionesUsuario]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificacionesUsuario](
	[idNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[mensaje] [varchar](200) NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_NotificacionesUsuario] PRIMARY KEY CLUSTERED 
(
	[idNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[total] [float] NOT NULL,
	[metodoPago] [varchar](50) NOT NULL,
	[direccionEntrega] [varchar](50) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idRestaurante] [int] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platos]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platos](
	[idPlato] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[calorias] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[disponible] [bit] NOT NULL,
	[idRestaurante] [int] NOT NULL,
	[dto] [int] NOT NULL,
	[codigoDescuento] [varchar](50) NULL,
 CONSTRAINT [PK_Platos] PRIMARY KEY CLUSTERED 
(
	[idPlato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromocionCombo]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromocionCombo](
	[idPromocionCombo] [int] IDENTITY(1,1) NOT NULL,
	[idPromocion] [int] NOT NULL,
	[idPlato] [int] NULL,
	[idBebida] [int] NULL,
 CONSTRAINT [PK_PromocionCombo] PRIMARY KEY CLUSTERED 
(
	[idPromocionCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promociones]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promociones](
	[idPromocion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descuento] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[idRestaurante] [int] NOT NULL,
 CONSTRAINT [PK_Promociones] PRIMARY KEY CLUSTERED 
(
	[idPromocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurantes]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurantes](
	[idRestaurante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[tipoComida] [varchar](50) NOT NULL,
	[horaPedido] [time](7) NOT NULL,
	[telefono] [int] NOT NULL,
	[promedioRating] [float] NOT NULL,
 CONSTRAINT [PK_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[idRestaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bebidas]  WITH CHECK ADD  CONSTRAINT [FK_Bebidas_Categorias] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[Bebidas] CHECK CONSTRAINT [FK_Bebidas_Categorias]
GO
ALTER TABLE [dbo].[Bebidas]  WITH CHECK ADD  CONSTRAINT [FK_Bebidas_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Bebidas] CHECK CONSTRAINT [FK_Bebidas_Restaurantes]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Pedidos] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedidos] ([idPedido])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Pedidos]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Platos] FOREIGN KEY([idPlato])
REFERENCES [dbo].[Platos] ([idPlato])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Platos]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Bebidas] FOREIGN KEY([idBebida])
REFERENCES [dbo].[Bebidas] ([idBebida])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Bebidas]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Platos] FOREIGN KEY([idPlato])
REFERENCES [dbo].[Platos] ([idPlato])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Platos]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Restaurantes]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Usuarios]
GO
ALTER TABLE [dbo].[NotificacionesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_NotificacionesUsuario_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[NotificacionesUsuario] CHECK CONSTRAINT [FK_NotificacionesUsuario_Usuarios]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Restaurantes]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Usuarios]
GO
ALTER TABLE [dbo].[PromocionCombo]  WITH CHECK ADD  CONSTRAINT [FK_PromocionCombo_Bebidas] FOREIGN KEY([idBebida])
REFERENCES [dbo].[Bebidas] ([idBebida])
GO
ALTER TABLE [dbo].[PromocionCombo] CHECK CONSTRAINT [FK_PromocionCombo_Bebidas]
GO
ALTER TABLE [dbo].[PromocionCombo]  WITH CHECK ADD  CONSTRAINT [FK_PromocionCombo_Platos] FOREIGN KEY([idPlato])
REFERENCES [dbo].[Platos] ([idPlato])
GO
ALTER TABLE [dbo].[PromocionCombo] CHECK CONSTRAINT [FK_PromocionCombo_Platos]
GO
ALTER TABLE [dbo].[PromocionCombo]  WITH CHECK ADD  CONSTRAINT [FK_PromocionCombo_Promociones] FOREIGN KEY([idPromocion])
REFERENCES [dbo].[Promociones] ([idPromocion])
GO
ALTER TABLE [dbo].[PromocionCombo] CHECK CONSTRAINT [FK_PromocionCombo_Promociones]
GO
ALTER TABLE [dbo].[Promociones]  WITH CHECK ADD  CONSTRAINT [FK_Promociones_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Promociones] CHECK CONSTRAINT [FK_Promociones_Restaurantes]
GO
/****** Object:  StoredProcedure [dbo].[AgregarFavoritos]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AgregarFavoritos]
	
	@pidUsuario int,
	@pidPlato int=null,
	@pidBebida int=null,
	@pidRestaurante int=null

AS
BEGIN
	insert into Favoritos (idPlato, idBebida, idRestaurante) values (@pidPlato, @pidBebida, @pidRestaurante);
	END
GO
/****** Object:  StoredProcedure [dbo].[buscarRestriccion]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[buscarRestriccion]
	@nombreRestriccion varchar(50)
AS
BEGIN
	if not exists (select Categorias.nombre from Categorias where Categorias.nombre=@nombreRestriccion)
	begin
	PRINT  'la restriccion buscada no existe';         
	RETURN;     
	end
	else
	begin
	declare @idCategoria int;
	select @idCategoria=Categorias.idCategoria from Categorias
	where Categorias.nombre=@nombreRestriccion;
	select * from Platos
	where idCategoria=@idCategoria;
	end
	END
GO
/****** Object:  StoredProcedure [dbo].[editarPerfil]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[editarPerfil]
	
	@idUsuario int,
	@nombre varchar(50),
	@apellido varchar(50),
	@direccion varchar(50),
	@email varchar(50),
	@contraseña varchar(50),
	@telefono int

AS
BEGIN
	UPDATE Usuarios
	SET nombre = @nombre,
    direccion = @direccion,
	apellido = @apellido,
	email = @email,
	contraseña = @contraseña,
	telefono = @telefono
	WHERE Usuarios.idUsuario=@idUsuario;
	END
GO
/****** Object:  StoredProcedure [dbo].[GetBebidaBusqueda]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetBebidaBusqueda]
	
	@pidBebida int
AS
BEGIN
	SELECT * FROM Bebidas WHERE idBebida = @pidBebida
	END
GO
/****** Object:  StoredProcedure [dbo].[GetBebidasRestaurante]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetBebidasRestaurante]
	
	@pidRestaurante int
AS
BEGIN
	SELECT * FROM Bebidas WHERE idRestaurante = @pidRestaurante
	END
GO
/****** Object:  StoredProcedure [dbo].[GetBebidasRestriccion]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetBebidasRestriccion]
	
	@pidCategoria int
AS
BEGIN
	SELECT * FROM Bebidas WHERE Bebidas.idCategoria = @pidCategoria
	END
GO
/****** Object:  StoredProcedure [dbo].[GetCategorias]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetCategorias]
	
AS
BEGIN
	SELECT * FROM Categorias
	END
GO
/****** Object:  StoredProcedure [dbo].[GetFavoritos]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetFavoritos]
	
	@pidUsuario int
AS
BEGIN
	SELECT Platos.nombre as NombrePlato, Restaurantes.nombre as NombreRestaurante, Bebidas.nombre as NombreBebida from Favoritos
	inner join Platos on Platos.idPlato=Favoritos.idPlato
	inner join Restaurantes on Restaurantes.idRestaurante=Favoritos.idRestaurante
	inner join Bebidas on Bebidas.idBebida=Favoritos.idBebida
	END
GO
/****** Object:  StoredProcedure [dbo].[GetNotificacionesUsuario]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNotificacionesUsuario]
	@pidUsuario int
AS
BEGIN
	select top 3 NotificacionesUsuario.categoria, NotificacionesUsuario.fecha, NotificacionesUsuario.mensaje from NotificacionesUsuario
	where NotificacionesUsuario.idUsuario=@pidUsuario ORDER BY fecha DESC;
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPlatoBusqueda]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPlatoBusqueda]
	
	@pidPlato int
AS
BEGIN
	SELECT * FROM Platos WHERE idPlato = @pidPlato
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPlatos]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPlatos]
	
	@pidPlato int
AS
BEGIN
	SELECT * FROM Platos WHERE idPlato = @pidPlato
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPlatosRestaurante]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPlatosRestaurante]
	
	@pidRestaurante int
AS
BEGIN
	SELECT * FROM Platos WHERE idRestaurante = @pidRestaurante
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPlatosRestriccion]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPlatosRestriccion]
	
	@pidCategoria int
AS
BEGIN
	SELECT * FROM Platos WHERE Platos.idCategoria = @pidCategoria
	END
GO
/****** Object:  StoredProcedure [dbo].[GetPromosRestaurante]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetPromosRestaurante]
	
	@pidRestaurante int
AS
BEGIN
	SELECT * FROM Promociones WHERE idRestaurante = @pidRestaurante
	END
GO
/****** Object:  StoredProcedure [dbo].[GetRestauranteBusqueda]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[GetRestauranteBusqueda]
	
	@pidRestaurante int
AS
BEGIN
	SELECT * FROM Restaurantes WHERE idRestaurante = @pidRestaurante
	END
GO
/****** Object:  StoredProcedure [dbo].[GetRestaurantes]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[GetRestaurantes]
	
AS
BEGIN
	SELECT * FROM Restaurantes
	END
GO
/****** Object:  StoredProcedure [dbo].[GetRestriccionBusqueda]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[GetRestriccionBusqueda]
	
	@pidCategoria int
AS
BEGIN
	SELECT * FROM Categorias WHERE idCategoria = @pidCategoria
	END
GO
/****** Object:  StoredProcedure [dbo].[GetUsuario]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[GetUsuario]
	
	@idUsuario int
AS
BEGIN
	select * from Usuarios where idUsuario=@idUsuario
	END
GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[LoginUsuario]
	@pemail varchar(50), @pcontraseña varchar(50)
AS
BEGIN
	Select idUsuario FROM Usuarios WHERE email = @pemail AND contraseña= @pcontraseña
END
GO
/****** Object:  StoredProcedure [dbo].[Registro]    Script Date: 27/11/2025 15:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[Registro]
	
	@pemail varchar(50), @pcontraseña varchar(50), @pnombre varchar(50), @papellido varchar(50), @pdireccion varchar(50), @ptelefono varchar(50)
AS
BEGIN
	insert into Usuarios (nombre, apellido, email, contraseña, direccion, telefono) Values (@pnombre, @papellido, @pemail, @pcontraseña, @pdireccion, @ptelefono)
	END
GO
