<section>
    <h2>Favoritos</h2>
    @foreach (var fav in ViewBag.Favoritos)
            {
                <p>@fav.nombrePlato</p>
                <p>@fav.nombreRestaurante</p>
                <p>@fav.nombreBebida</p>
            }
</section>