<h1 class="titulo">Somos SANNI</h1>
<h3>Sanni es salud, inclusión y sabor en cada opcion. Comidas adaptadas a tu dieta, con ingredientes reales para que siempre encuentres tu mejor opcion.</h3>

<a href='Url.Action("Login","Account")'><button>Iniciar Sesion</button></a>

<h2 class="ofertones">Ofertones</h2>
<!-- Probar Carrusel en un html> -->

<a href='Url.Action("", "Home")'><button>Restricciones</button></a>
<a href='Url.Action("", "Home")'><button>Restaurantes</button></a>

<h5>Los más elegidos</h5>
<!-- Probar Carrusel de a 3 imagenes en un html> -->

<h2 class="promociones">PROMOCIONES</h2>
<h5>Nuestras mejores Ofertas y Beneficios</h5>
<!-- Probar Carrusel de a 3 imagenes en un html> -->

<h3>En SANNI pensamos en todas las Restricciones y Dietas</h3>
<!-- Hacer un layout de 3x3 y sumar logo de dietas keto tanto al figma como aca -->



