    <section class="profile-card">
            <!-- Foto del usuario -->
            <img src="x" alt="foto usuario"> <!-- Aca va la foto o icono del usuario -->

            <!-- Información del usuario -->
            <div class="profile-info">
                <h2>@ViewBag.Usuario.nombre</h2>
                <p>Direccion registrada: @ViewBag.Usuario.Direccion</p>
            </div>
        </section>

        <!-- Botones del perfil -->
        <nav class="profile-options">
        <a href='Url.Action("editarPerfil","Account")'new {idUsuario= ViewBag.Usuario.idUsuario}><button class="">Información del perfil</button></a>
        <a href='Url.Action("notificaciones","Home")'><button class="">Notificaciones</button></a>
        <a href='Url.Action("favoritos","Home")'><button class="">Favoritos</button></a>
        <a href='Url.Action("CerrarSesion","Account")'><button>Cerrar sesión</button></a>
            
           
        </nav>