   <section class="profile-card">
            <!-- Foto del usuario -->
            <img src="x" alt="foto usuario"> <!-- Aca va la foto o icono del usuario -->

            <!-- Información del usuario -->
            <div class="profile-info">
                <h2>@ViewBag.NombreUsuario</h2>
                <p>Direccion registrada: @ViewBag.DireccionUsuario</p>
            </div>
        </section>

        <!-- Botones del perfil -->
        <nav class="profile-options">
            <button>Información del perfil</button>
            <button>Notificaciones</button>
            <button>Favoritos</button>
            <button>Cerrar sesión</button>
        </nav>