@{
    Layout = "_Layout";
}

 @foreach (var r in ViewBag.Restricciones)
    {
            <a class="btn btn-primary" href='@Url.Action("verRestriccion", "Home", new {idRestaurante= r.idRestaurante})'>
        @r.nombre
    </a>
    }