header {
  display: flex;
  align-items: center;
  background: #4A963F;
  padding: 10px 30px;
  position: relative;
}


.logo{
  width: 80px;
  height:auto;
  margin-left: 1%;
}

.menu {
  background-color: transparent; 
  border: none;                 
  font-size: 24px; 
} 

.menu:hover {
  color: #c8f7c5;   
  transform: scale(1.1);
}

.iconos{
  display: flex; 
  gap: 20px; 
  align-items: center;
}

.perfil{
  width: 30px;
  height:auto;
}

.lupa{
  width: 30px;
  height:auto;
}


.icon-menu {
  font-weight: bold;
}
